<!doctype html>
<head> 
</head>
<body>
  <script>
    function sendRequest() {
      FB.ui({ method: 'apprequests',
              message: 'come check me out!',
              to: '100005001397111'
      });
    }


    window.fbAsyncInit = function () {
        FB.init({
          appId:　'{{ appid }}'
          {% if authResponse %}
          ,authResponse: {{ authResponse|safe }}
          {% endif %}
        });
        /* FB.getLoginStatus(function (response) {
          var i = "test";
        });*/
    };
    (function(d){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       ref.parentNode.insertBefore(js, ref);
     }(document));
  </script>
  <input type="button" onclick="sendRequest()" value="Send FB Request">
</body>
